<h1>All Favorite Locations</h1>
<% places.forEach(place => { %>
    <div>
        <h2><%=place.city %> <%= place.state%></h2>
        <p>Latitude: <%=place.lat %></p>
        <p>Longitude: <%=place.long %></p>
        <form method="POST" action="/favorites/<%=place.id%>?_method=DELETE">
            <input type="submit" value="Delete"> 
        </form>
    </div>
    <% }) %>

    <h1><a href="./">Return to search page</a></h1>